:root {
  /* color */
  --color-main: rgb(37, 223, 192);
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  /* font-family: "Gamja Flower", cursive; */
}
button {
  /* background: #cef2e0; */
  background: var(--color-main);
  color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  margin: 16px 0;
}

.list-box {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #eee;
  padding: 24px 32px;
  background: #333;
}
.list-box h1 {
  text-align: center;
  color: white;
  margin-bottom: 32px;
}

.list-box h1::after {
  content: "";
  display: block;
  background-color: white;
  width: 50%;
  height: 2px;
  transform: translateX(50%);
}

.write-box {
  display: flex;
  justify-content: center;
  height: 35px;
  margin-bottom: 16px;
}

.write-box input {
  font-size: 16px;
  padding: 0 8px;
  width: 100%;
  outline: none;
  border: 1px solid var(--color-dark-gray);
}

.write-box input:focus {
  border: 1px solid var(--color-main);
}

#add-btn {
  width: 100px;
  border: none;
}

.status {
  text-align: center;
  margin-bottom: 16px;
  color: var(--color-white);
}

.list-table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 16px;
}

th,
td {
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
}

th {
  background: #9fd6c2;
}

tbody td {
  text-align: center;
}

button.delete {
  color: red;
  background: none;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 8px;
  border-radius: 4px;
}
